NB_PROXY_DOMAIN=netbird.localhost
NB_TRAEFIK_ACME_EMAIL=your-email@example.com

# $ openssl rand -base64 32 | sed 's/=//g'
NB_AUTH_SECRET=change-this-to-a-long-random-secret

# $ openssl rand -base64 32
NB_SESSION_ENCRYPTION_KEY=change-this-to-a-long-random-secret
NB_STORE_ENCRYPTION_KEY=change-this-to-a-long-random-secret
