N8N_WEBHOOK_URL=http://localhost:5678/
N8N_RUNNERS_AUTH_TOKEN=replace-with-a-random-32-character-key

SANDBOX_API_KEYS=replace-with-a-random-32-character-key
SANDBOX_API_RUNNER_API_KEY=replace-with-a-random-32-character-key
SANDBOX_API_RUNNER_REGISTRATION_TOKEN=replace-with-a-random-32-character-key

SEARXNG_SECRET=replace-with-a-random-32-character-key
