# NB_PROXY_MANAGEMENT_ADDRESS=https://api.netbird.io

NB_PROXY_DOMAIN=change-this-to-your-netbird-proxy-domain
NB_PROXY_TOKEN=change-this-to-your-netbird-proxy-token

NB_PROXY_PRIVATE=true
NB_PROXY_LOG_LEVEL=info
